/* General Styling */

* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */

.navbar {
    /* Custom attributes to be inverted */
    --background: transparent;
    --text-color-idle: #ffffffaa;
    --text-color-solid: #ffffff;

    align-items: center;
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    padding-top: 50px;
    transition: padding 0.15s ease-out;
    width: 100vw;
}

.navbar__brand a {
    color: var(--text-color-solid);
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar__nav {
    display: flex;
    justify-content: center;
}

.navbar__nav a {
    border-bottom: solid transparent;
    color: var(--text-color-idle);
    text-align: center;
    margin: 14px 16px;
    padding: 2px 4px;
    text-decoration: none;
    transition: border-bottom 0.25s;
}

.navbar__nav a:hover {
    color: var(--text-color-solid);
    border-bottom: solid lightseagreen;
}

.navbar-invert {
    --background: #ffffff;
    --text-color-idle: #000000aa;
    --text-color-solid: #000000ff;
    box-shadow: 0px 1px 2px;
    padding: 0px 0px;
}

/* Intro */

.intro {
    align-items: center;
    background-color: #222222;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.intro-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-wrapper h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 4em;
}

.intro-wrapper .heading-sep {
    background-color: lightseagreen;
    height: 4px;
    margin: 20px;
    width: 300px;
}

.intro-wrapper h2 {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.intro-wrapper h2 span {
    color: lightseagreen;
    font-size: 1em;
    margin: 0em 0.25em;
}


.intro-wrapper .about-btn {
    background-color: lightseagreen;
    border-radius: 10px;
    color: white;
    font-size: 1.25em;
    margin: 20px 0px;
    padding: 6px 10px;
    text-decoration: none;
}

.intro-wrapper .about-btn:hover {
    background-color: rgb(26, 148, 142);
}

/* Content Sections */
.content {
    text-align: center;
    width: 100vw;
    padding: 60px;
}

.content__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.content__header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.content__header .title-sep {
    background-color: lightseagreen;
    height: 2px;
    margin: 0.5em 0 2em 0;
    width: 10em;
}

.content__grid {
    display:grid;
    justify-content: center;
}

.content-section {
    text-align: center;
}

.section-even {
    background-color: #fff;
}

.section-odd {
    background-color: #eee;
}

/* Footer */
.footer {
    background-color: #222222;
    width: 100vw;
    height: 10vh;
}