/* About */
#about-main {
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 'portrait text';
    justify-items: center;
    margin: 0 auto;
    overflow: hidden;

    // Collapse text and portrait when screen shrinks
    @media only screen and (max-width: 800px) {
        grid-template-areas: 'portrait'
                             'text';
    }
}

#portrait {
    grid-area: portrait;

    img {
        border-radius: 10px;
        height: 400px;
        max-width: 100%;
    }
}

#about-text {
    background-color: #fefefe;
    border: ridge 1px #eee;
    border-radius: 10px;
    grid-area: text;
    padding: 30px;

    h3 {
        margin-bottom: 1em;
        text-align: center;
    }

    p {
        margin: 0 0 1em 0;
    }
}

.media-icons {
    text-align: center;
    a {
        text-decoration: none;
    }

    i {
        color: #333;
        font-size: 2.5em;
        margin: 0 0.1em;
        transition: color 0.25s ease-out;

        &:hover {
            color: lightseagreen;
        }
    }
}