/* About */
#about-main {
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 'portrait text';
    overflow: hidden;

    // Collapse text and portrait when screen shrinks
    @media only screen and (max-width: 900px) {
        grid-template-areas: 'portrait'
                             'text';
    }
}

#portrait {
    grid-area: portrait;

    img {
        border-radius: 10px;
        height: 400px;
        max-width: 100%;
    }
}

#about-text {
    background-color: #fefefe;
    border: ridge 1px #eee;
    border-radius: 10px;
    grid-area: text;
    padding: 2em;

    h3 {
        margin-bottom: 1em;
        text-align: center;
    }
}