/* Contact Form Section */
#contact {
    width: 100vw;
}

#contact-content {
    p {
        font-size: 1.5em;
        margin: 0 auto;
        margin-bottom: 1em;
        text-align: center;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

.input-field {
    background-color: #fff;
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;

    .entry-box {
        border-style: none;
        resize: none;
        width: 100%;

        &::placeholder {
            color: lightseagreen;
            opacity: 100;
        }
    }
}

.identifiers {
    display: flex;
    justify-content: space-between;
    
    .identifier-field {
        width: 48%;
    }
}

.message-field {
    textarea {
        height: 15em;
    }
}

.submit-button {
    border-radius: 4px;
    border-style: none;
    background-color: rgba(100, 100, 100, 0.5);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 4px 10px;
    transition: background-color 0.25s ease-out;

    &:hover {
        background-color: rgba(0, 200, 200, 1);
    }
}

@media only screen and (max-width: 760px) {
    .identifiers {
        flex-direction: column;
        
        .identifier-field {
            width: 94%;
        }
    }
}