/* Experience Section */
.responsive-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: auto auto auto;
}

.project-block {
    border: 1px solid #eee;
    border-radius: 10px;
    a {
        text-align: center;
        text-decoration: none;
        h3, p {
            color: black;
        }
    }
}