/* Navbar */

.navbar {
    /* Custom attributes to be inverted */
    --background: transparent;
    --brand-visibility: hidden;
    --text-color-idle: #ffffffaa;
    --text-color-solid: #ffffff;

    align-items: center;
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding-top: 50px;
    position: fixed;
    transition: padding 0.15s ease-out;
    width: 100vw;
    z-index: 100;
}

.navbar__brand {
    a {
        color: #000000aa;
        font-family: 'Roboto', Helvetica, sans-serif;
        font-size: 2em;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        visibility: var(--brand-visibility);
    }
}

.navbar__nav {
    display: flex;
    justify-content: center;

    a {
        border-bottom: solid transparent;
        color: var(--text-color-idle);
        font-family: Helvetica, sans-serif;
        margin: 14px 16px;
        padding: 2px 4px;
        text-align: center;
        text-decoration: none;
        transition: border-bottom 0.25s;

        &:hover {
            border-bottom: solid lightseagreen;
            color: var(--text-color-solid);
        }
    }
}

.navbar__bars {
    display: none;
    position: absolute;

    button {
        background-color: transparent;
        border: none;
        color: var(--text-color-idle);
        cursor: pointer;
        font-size: 2em;

        &:hover {
            color: lightseagreen;
        }
    }
}

// Responsive topnav
@media only screen and (max-width: 760px) {
    .navbar__nav {
        display: none;
        flex-direction: column;
    }

    .navbar__bars {
        display: flex;
    }
}

.nav-active {
    display: flex;
}

.navbar-invert {
    --background: #ffffff;
    --brand-visibility: visible;
    --text-color-idle: #000000aa;
    --text-color-solid: #000000ff;
    box-shadow: 0px 1px 4px;
    padding: 4px 0px;
}