/* Navbar */

.navbar {
    /* Custom attributes to be inverted */
    --background: transparent;
    --brand-visibility: hidden;
    --text-color-idle: #ffffffaa;
    --text-color-solid: #ffffff;

    align-items: center;
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    padding-top: 50px;
    transition: padding 0.15s ease-out;
    width: 100vw;
}

.navbar__brand a {
    color: #000000aa;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    visibility: var(--brand-visibility);
}

.navbar__nav {
    display: flex;
    justify-content: center;

    a {
        border-bottom: solid transparent;
        color: var(--text-color-idle);
        text-align: center;
        margin: 14px 16px;
        padding: 2px 4px;
        text-decoration: none;
        transition: border-bottom 0.25s;

        &:hover {
            border-bottom: solid lightseagreen;
            color: var(--text-color-solid);
        }
    }
}

.navbar-invert {
    --background: #ffffff;
    --brand-visibility: visible;
    --text-color-idle: #000000aa;
    --text-color-solid: #000000ff;
    box-shadow: 0px 1px 2px;
    padding: 0px 0px;
}