/* Skills Section */
#skills-main {
    display: grid;
    justify-content: center;
    grid-column-gap: 1em;
    grid-row-gap: 4em;
    grid-template-areas: 'summary summary summary summary'
                         'languages technologies algorithms learning';
    margin: 0 auto;
    overflow: hidden;

    @media only screen and (max-width: 1200px) {
        grid-template-areas: 'summary summary'
                             'languages technologies'
                             'algorithms learning';
    }

    @media only screen and (max-width: 760px) {
        grid-template-areas: 'summary'
                             'languages'
                             'technologies'
                             'algorithms'
                             'learning';
    }
}

.bullet-list {
    align-items: center;
    display: flex;
    flex-direction: column;

    h3 {
        font-family: "Roboto", Helvetica, sans-serif;
    }

    i {
        color: lightseagreen;
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }
}

.list-sep {
    background-color: lightseagreen;
    height: 1px;
    margin: 0.5em 0;
    width: 10em;
}

#skills-summary {
    background-color: #eaeaea;
    border: solid 1px #ddd;
    border-radius: 10px;
    grid-area: summary;
    margin: 0 10em;
    padding: 30px;
    
    @media only screen and (max-width: 1200px) {
        margin: 0;
    }
}

#programming-languages {
    grid-area: languages;
}

#technologies {
    grid-area: technologies;
}

#ml-algorithms {
    grid-area: algorithms;
}

#things-to-learn {
    grid-area: learning;
}