/* SCSS partials */
@import "navbar";
@import "intro";
@import "about";
@import "skills";
@import "experience";
@import "contact";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* General Styling */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Typography */
p, li {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

/* Content Sections */
.content {
    margin: 0 auto;
    padding: 5em 0;
    position: relative;
}

.content__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 3em;
    }

    .title-sep {
        background-color: lightseagreen;
        height: 2px;
        margin: 0.5em 0 2em 0;
        width: 10em;
    }
}

.content__container {
    margin: 0 auto;
    width: 1280px;
    max-width: 95%;
    position: relative;
}

/* Alternate background colors for content sections */ 
.section-even {
    background-color: #fff;
}

.section-odd {
    background-color: #eee;
}


/* Footer */
.footer {
    background-color: #222222;
    width: 100vw;
    height: 10vh;
}