/* SCSS partials */
@import "navbar";
@import "intro";
@import "about";
@import "skills";
@import "experience";

/* General Styling */

* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.5;
}

/* Content Sections */
.content {
    width: 100vw;
    padding: 3em; 
}

.content__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 3em;
    }

    .title-sep {
        background-color: lightseagreen;
        height: 2px;
        margin: 0.5em 0 2em 0;
        width: 10em;
    }
}

.content__container {
    margin: 0 auto;
    max-width: 70%;
}

.section-even {
    background-color: #fff;
}

.section-odd {
    background-color: #eee;
}


/* Footer */
.footer {
    background-color: #222222;
    width: 100vw;
    height: 10vh;
}